<h2 mat-dialog-title>{{ product.name | uppercase }}</h2>
<mat-dialog-content style="width: 100%;">
    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Name</mat-label>
        <input type="text" matInput [(ngModel)]="productUpdated.name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="productUpdated.type" name="food type">
        <mat-option *ngFor="let type of productTypes" [value]="type.key">
          {{ type.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button
            color="primary"
            [disabled]="product.name | pairSequenceMatch: productUpdated.name: product.type: productUpdated.type">UPDATE</button>
    <button mat-flat-button
            color="warn">DELETE</button>
</mat-dialog-actions>