<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button
            aria-label="Example icon-button with menu icon"
            (click)="sidenavTrigger()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span>
    <span class="width-filler"></span>
    <button mat-icon-button aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-height" autosize>
  <mat-sidenav mode="over" [(opened)]="sidenavOpened">
    <mat-nav-list>
      <mat-list-item>
        PLACEHOLDER
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div id="router-container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
