#router-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sidenav-height {
    height: calc(100vh - 4.6em);
}

.width-filler {
    flex: 1 1 auto;
}
