mat-card {
    padding: 0.5em;
    width: 50em;
}

mat-card-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

mat-card-content, mat-card-actions {
    padding-left: 1em;
    padding-right: 1em;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

input::-ms-reveal {
    display:none;
}
